# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# Golang API (Reza)
# Production
NEXT_PUBLIC_API_URL=https://api-undangan-digital.anggriawan.my.id/api/v1
# Development
# NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1
